.group1{
  background-image: url(../Image/coach/group1.png);
  height: 600px;
  width: 100%;
  margin: 0;
}
.group1{
  margin: 0;
}
.group1-img{
  width: 100%;
}
.header{
  width: 100%;
}
.home{
  font-family: YesevaOne;
  font-size: 36px;
  color: var(--white);
  background:none;
    margin: 20px 100px;
}
.event{
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}
.bag{
	margin:38px 15px;
	width: 24px;
  height: 24px;
  object-fit: contain;
}
.orange{
	color: #ff6900;
  background:none;
  border: none;
}
.white{
	color: #ffffff;
  background:none;
  border: none;
}
.event button:hover{
  color: #ff6900;
}
.group2{
  width: 100%;
  height: 128px;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
  margin-top: -65px;
}
.group2-big-content{
  width: 168px;
  height: 29px;
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin:0 0 35px 0;
  padding-top: 20px;
}
.group2-select{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #bbbbbb;
  background-color: var(--white);
  color: #464646;
  padding: 10px;
}
.group2 button{
  width: 100%;
  height: 42px;
  border-radius: 5px;
  background-color: #ff6900;
  margin-top: -3px;
}
.title{
  height: 44px;
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: 30px 0;
}
.group3-theme{
  width:24%; 
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  overflow: hidden;
}
.group3-img{
  width: 100%;
  border-radius: 5px;
}
.group3-img-2{
  margin-bottom: 20px;
}
.big-content3{
  font-family: Cabin;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 5px 0;
}
.small-content3{
  font-family: Cabin;
  font-size: 14px;
  text-align: center;
  color: #464646;
  margin: 5px 0;
}
.container-group3 .title{
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  top: 5%;
  left: 50%;
}
.btn-slide{
  width: 30px;
  height: 30px;
  color: #ff6900;
  background-color: #ffffff;
  border-radius: 15px;
  transform: translate(0%,450%);
}
.right{
  transform: translate(20%,450%);
}
.group4-title{
  height: 44px;
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 20px;
}
.group4-img{
  margin-left: 15px;
  width: 80%;
}
.big-content4{
  font-family: Cabin;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.small-content4{
  font-family: Cabin;
  font-size: 14px;
  color: #464646;
  text-align: center;
}
.group4-theme{
  margin-bottom: 50px;
}
.container-group5{
  color: #ffffff;
  width: 98%;
  margin: 2vw 0 0 11px;
}
.group5-bg{
  background-color: #000000;
}
.big-content5{
  font-family: YesevaOne;
  font-size: 2vw;
  margin-top: 4vw;
}
.small-content5{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 1vw;
  margin:1.5vw 0;
}
.small-content5-2{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 1vw;
  margin:1.5vw 0 -1vw 0;
}
.container-group5 input{
  width: 100%;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  padding: 5px;
  font-size: 10px;
  margin-top: 1.5vw;
  color: #ffffff;
}
.btn5{
  width: 100%;
  border-radius: 3px;
  background-color: #ff6900;
  margin: 1.5vw 0 3vw 0;
  border:1px solid #000000;
  color: #ffffff;
  text-align: center;
  font-size: 2vw;
}