.group1{
  margin: 0;
}
.group1-img{
  width: 100%;
}
.header{
  width: 100%;
}
.home{
  font-family: YesevaOne;
  font-size: 36px;
  color: var(--white);
  background:none;
  margin: 20px 100px;
}
.event{
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}
.orange{
  color: #ff6900;
  background:none;
  border: none;
}
.black{
  color: #000000;
  background:none;
  border: none;
}
.event button:hover{
  color: #ff6900;
}
.title{
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  margin: 30px 0 20px 0;
  text-align: center;
}
.logo{
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.big-content{
  font-family: Cabin;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}
.small-content{
  font-family: Cabin;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #464646;
  margin-bottom: 10px;
}
.group2{
  transform: translate(1%,0);
}
.group2-img{
  width: 33%;
  display: inline;
}
.text{
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
.text1{
  left: 14%;
}
.text2{
  left: 47%;
}
.text3{
  left: 79%;
}
.group3{
  background-color: #b2bec3;
}
.group3-img{
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}
.group4{
  margin-bottom: 10px;
}
.group4-img{
  width: 100%;
}
.btn{
  background-color: #00379c;
  color: #ffffff;
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.big-content2{
  font-family: Cabin;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  color: #000000;
  margin: 20px 0;
}
.small-content2{
  font-family: Cabin;
  font-size: 14px;
  line-height: 1.71;
  color: #464646;
  margin-top: 20px;
}
.container-price{
  transform: translate(20%,60%);
}
.price{
  font-family: Cabin;
  font-size: 20px;
  font-weight: bold;
  color: #ff6900;
}
.detail{
  border-radius: 18px;
  border: solid 1px #ff6900;
  background-color: #ffffff;
  color: #ff6900;
}
.viewAll{
  font-family: Cabin;
  font-size: 14px;
  text-align: center;
  color: #ff6900;
}
.group5-theme{
  width:24%; 
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.group5-img{
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.group5-img-2{
  margin-bottom: 20px;
}
.big-content5{
  font-family: Cabin;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 5px 0;
}
.small-content5{
  font-family: Cabin;
  font-size: 14px;
  text-align: center;
  color: #464646;
  margin: 5px 0;
}
.container-group5 .title{
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  top: 5%;
  left: 50%;
}
.btn-slide{
  width: 30px;
  height: 30px;
  color: #ff6900;
  background-color: #ffffff;
  border-radius: 15px;
  transform: translate(0%,450%);
}
.right{
  transform: translate(20%,450%);
}
.container-group6{
  color: #ffffff;
  width: 98%;
  margin-left: 11px;
}
.group6-bg{
  background-color: #000000;
}
.big-content6{
  font-family: YesevaOne;
  font-size: 24px;
  margin-top: 50px;
}
.small-content6{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 14px;
  margin:20px 0;
}
.small-content6-2{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 14px;
  margin:20px 0 -10px 0;
}
.container-group6 input{
  width: 100%;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  padding: 5px;
  font-size: 10px;
  margin-top: 25px;
  color: #ffffff;
}
.btn6{
  width: 100%;
  border-radius: 3px;
  background-color: #ff6900;
  margin: 25px 0 50px 0;
  border:1px solid #000000;
  color: #ffffff;
  text-align: center;
}