.group1{
  margin: 0;
}
.group1-img{
  width: 100%;
}
.header{
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}
.home{
  font-family: YesevaOne;
  font-size: 36px;
  color: var(--white);
  background:none;
  margin: 20px 100px;
}
.event{
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}
.orange{
  color: #ff6900;
  background:none;
  border: none;
}
.black{
  color: #000000;
  background:none;
  border: none;
}
.event button:hover{
  color: #ff6900;
}
.group2{
  margin: 30px 0;
  border-bottom: solid 1px #bbbbbb;
  overflow: hidden;
}
.remove{
  color: #bbbbbb;
  background-color: var(--white);
  font-size: 30px;
  cursor: pointer;
}
.group2-img{
  margin-bottom: 30px;
  width: 100%;
}
.group2-big-content{
  font-family: Cabin;
  font-size: 2vw;
  font-weight: bold;
  line-height: 1.33;
  color: #000000;
}
.group2-small-content{
  font-family: Cabin;
  font-size: 1vw;
  font-weight: bold;
  line-height: 2.29;
  color: #000000;
}
.number{
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}
.sub{
  width: 100%;
  opacity: 0.8;
  background-color: #cbcbcb;
  color: #000000;
  border-radius: 5px 0 0 5px;
  padding: 0 15px;
  text-align: center;
}
.plus{
  background-color: #000000;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  transform: translate(-100%,0);
}
.price{
  font-family: Cabin;
  font-size: 2vw;
  font-weight: bold;
  text-align: right;
  color: #ff6900;
}
.btn-check{
  width: 25%;
  height: 60px;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  transform: translate(250%,-30%);
  border-radius: 10px;
  border:none;
}
.container-group3{
  color: #ffffff;
  width: 98%;
  margin-left: 11px;
}
.group3-bg{
  background-color: #000000;
}
.big-content3{
  font-family: YesevaOne;
  font-size: 24px;
  margin-top: 50px;
}
.small-content3{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 14px;
  margin:20px 0;
}
.small-content3-2{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 14px;
  margin:20px 0 -10px 0;
}
.container-group3 input{
  width: 100%;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  padding: 5px;
  font-size: 10px;
  margin-top: 25px;
  color: #ffffff;
}
.btn3{
  width: 100%;
  border-radius: 3px;
  background-color: #ff6900;
  margin: 25px 0 50px 0;
  border:1px solid #000000;
  color: #ffffff;
  text-align: center;
}
