.group1{
  background-image: url(../Image/services-cate/group1.png);
  height: 600px;
  width: 100%;
  margin: 0;
}
.group1{
  margin: 0;
}
.group1-img{
  width: 100%;
}
.header{
  width: 100%;
}
.home{
  font-family: YesevaOne;
  font-size: 36px;
  color: var(--white);
  background:none;
  margin: 20px 100px;
}
.event{
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}
.bag{
  margin:38px 15px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.orange{
  color: #ff6900;
  background:none;
  border: none;
}
.white{
  color: #ffffff;
  background:none;
  border: none;
}
.event button:hover{
  color: #ff6900;
}
.group3{
  width: 98%;
}
.reangle{
  overflow: hidden;
  height: 27vw;
}
.md-content{
  margin: 1vw 0 0 2vw;
  font-family: Cabin;
  font-size: 1.5vw;
  color: #ff6900;
}
.big-content{
  margin: 0 0 0 2vw;
  font-family: Cabin;
  font-size: 2vw;
  font-weight: bold;
  color: #000000;
}
.sm-content{
  margin:1vw 0 1vw 2vw;
  font-family: Cabin;
  font-size: 1vw;
  line-height: 1.43;
  color: #464646;
}
.icon{
  margin-left: 3vw;
}
.oval{
  margin-left: -1.5vw;
  width: 17%;
}
.price{
  font-family: Cabin;
  font-size: 1.5vw;
  font-weight: bold;
  color: #ff6900;
  margin: 0 0 0 6.5vw;
}
.btn{
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 1vw;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  margin:0.5vw 0 5.5vw 8vw;
  padding: 0 0.5vw;
}
.img{
  width: 130%;
  height: 130%;
  margin-left: -1vw;
}
.container-group3{
  color: #ffffff;
  width: 98%;
  margin: 2vw 0 0 11px;
}
.group3-bg{
  background-color: #000000;
}
.big-content3{
  font-family: YesevaOne;
  font-size: 2vw;
  margin-top: 4vw;
}
.small-content3{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 1vw;
  margin:1.5vw 0;
}
.small-content3-2{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 1vw;
  margin:1.5vw 0 -1vw 0;
}
.container-group3 input{
  width: 100%;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  padding: 5px;
  font-size: 10px;
  margin-top: 1.5vw;
  color: #ffffff;
}
.btn3{
  width: 100%;
  border-radius: 3px;
  background-color: #ff6900;
  margin: 1.5vw 0 3vw 0;
  border:1px solid #000000;
  color: #ffffff;
  text-align: center;
  font-size: 2vw;
}