.group1{
  background-image: url(../Image/services-cate/group1.png);
  height: 600px;
  width: 100%;
  margin: 0;
}
.group1{
  margin: 0;
}
.group1-img{
  width: 100%;
}
.header{
  width: 100%;
}
.home{
  font-family: YesevaOne;
  font-size: 36px;
  color: var(--white);
  background:none;
  margin: 20px 100px;
}
.event{
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}
.bag{
  margin:38px 15px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.orange{
  color: #ff6900;
  background:none;
  border: none;
}
.white{
  color: #ffffff;
  background:none;
  border: none;
}
.event button:hover{
  color: #ff6900;
}
.group3{
  width: 98%;
}
.reangle{
  overflow: hidden;
  height: 27vw;
}
.md-content{
  margin: 2vw 0 1vw 2vw;
  font-family: Cabin;
  font-size: 16px;
  color: #ff6900;
}
.big-content{
  margin: 1vw 0 1vw 2vw;
  font-family: Cabin;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}
.sm-content{
  margin:0 2vw 1vw 2vw;
  font-family: Cabin;
  font-size: 14px;
  line-height: 1.43;
  color: #464646;
}
.icon{
  margin-left: 40px;
}
.oval{
  margin-left: -20px;
}
.price{
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  color: #ff6900;
  margin-left: 125px;
}
.btn{
  height: auto;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  margin:0 0 20px 135px;
}
.img{
  width: 110%;
  margin-left: -4px;
}
.container-group3{
  margin: 75px 0 0 12px;
  color: #ffffff;
  width: 98%;
}
.group3-bg{
  background-color: #000000;
}
.big-content3{
  font-family: YesevaOne;
  font-size: 24px;
  margin-top: 50px;
}
.small-content3{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 14px;
  margin:20px 0;
}
.small-content3-2{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 14px;
  margin:20px 0 -10px 0;
}
.container-group3 input{
  width: 100%;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  padding: 5px;
  font-size: 10px;
  margin-top: 25px;
}
.btn3{
  width: 100%;
  border-radius: 3px;
  background-color: #ff6900;
  margin: 25px 0 50px 0;
  border:1px solid #000000;
  color: #ffffff;
  text-align: center;
}