.group1{
  background-image: url(../Image/services-cate-detail/group1.png);
  height: 600px;
  margin: 0;
}
.home{
  margin: 29px 420px 0 147px;
	width: 100px;
  height: 42px;
  font-family: YesevaOne;
  font-size: 36px;
  color: var(--white);
  background:none;
}
.event{
  font-family: Cabin;
	margin: 41px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}
.bag{
	margin:38px 15px;
	width: 24px;
  height: 24px;
  object-fit: contain;
}
.orange{
	color: #ff6900;
  background:none;
  border: none;
}
.white{
	color: #ffffff;
  background:none;
  border: none;
}
.event button:hover{
  color: #ff6900;
}
.group2{
  width: 100%;
  height: 700px;
  background-color: #f1f1f1;
}
.group3{
  width: 80%;
  height: auto;
  background-color: #ffffff;
  transform: translate(0,-15%);
}
.group3-1{
  border-bottom: 1px solid #ff6900;
  padding: 20px 0 0 0;
}
.big-content{
  font-family: Cabin;
  font-size: 16px;
  color: #000000;
}
.org{
  color: #ff6900;
}
.title{
  font-family: Cabin;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
}
.price{
  width: 60px;
  height: 60px;
  background-color: #ff6900;
  border-radius: 30px;
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.time{
  border-radius: 5px;
  background-color: rgba(255, 105, 0, 0.16);
  padding: 10px 15px;
  font-family: Cabin;
  font-size: 14px;
  color: #464646;
  margin: 10px 0 20px 0;
}
.right{
  float: right;
}
.sm-content{
  font-family: Cabin;
  font-size: 12px;
  font-style: italic;
  color: #464646;
  margin-bottom: 20px;
}
.md-content{
  font-family: Cabin;
  font-size: 14px;
  text-align: center;
  color: #464646;
}
.bold{
  font-weight: bold;
}
.image label:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.allnop{
  margin: 10px;
}
.nop{  
  height: 40px;
  background-color: #f1f1f1;
  text-align: center;
  padding: 8px 15px;
}
.content{
  margin-top: 10px;
}
.sub{
  opacity: 0.52;
  border-radius: 5px 0 0 5px;
  background-color: #4d9dff;
  color: #ffffff;
}
.plus{
  border-radius: 0 5px 5px 0;
  background-color: #4d9dff;
  color: #ffffff;
}
.date{
  border: 1px solid #ff6900;
}
.month{
  height: 38px;
  text-align: center;
  background-color: #f1f1f1;
  padding: 7px 15px;
  width: 90%;
  transform: translate(9%,0);
  margin: 20px 0;
}
.cusor{
  border-radius: 15px;
  background-color: #00379c;
  color: #ffffff;
  height: 30px;
  margin-top: -4px
}
.center{
  padding: 3px 0;
}
.day{
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
}
.day-last{
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 10px 0 0 0;
  margin: 10px 0 20px 0;
}
.btn{
  width: 363px;
  height: 44px;
  border-radius: 3px;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  margin: 50px 0 50px 375px;
}
.container-group4{
  color: #ffffff;
  width: 98%;
  margin-left: 11px;
  margin-top: -60px;
}
.group4-bg{
  background-color: #000000;
}
.big-content4{
  width: 200px;
  height: 28px;
  font-family: YesevaOne;
  font-size: 24px;
  margin-top: 50px;
}
.small-content4{
  color: #cfcfcf;
  width: 260px;
  font-family: Cabin;
  font-size: 14px;
  margin:20px 0;
}
.small-content4-2{
  color: #cfcfcf;
  width: 260px;
  font-family: Cabin;
  font-size: 14px;
  margin:20px 0 -10px 0;
}
.container-group4 input{
  width: 363px;
  height: 44px;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  padding: 5px;
  font-size: 10px;
  margin-top: 25px;
  color: #ffffff;
}
.btn4{
  width: 363px;
  height: 44px;
  border-radius: 3px;
  background-color: #ff6900;
  margin: 25px 0 50px 0;
  border:1px solid #000000;
  color: #ffffff;
  text-align: center;
}