.group1{
  background-image: url(../Image/services-cate-detail/group1.png);
  height: 600px;
  width: 100%;
  margin: 0;
}
.group1{
  margin: 0;
}
.group1-img{
  width: 100%;
}
.header{
  width: 100%;
}
.home{
  font-family: YesevaOne;
  font-size: 36px;
  color: var(--white);
  background:none;
  margin: 20px 100px;
}
.event{
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}
.bag{
  margin:38px 15px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.orange{
  color: #ff6900;
  background:none;
  border: none;
}
.white{
  color: #ffffff;
  background:none;
  border: none;
}
.event button:hover{
  color: #ff6900;
}
.group2{
  width: 100%;
  height: 430px;
  background-color: #f1f1f1;
  overflow: hidden;
}
.group3{
  width: 80%;
  height: auto;
  background-color: #ffffff;
  transform: translate(13%,-13%);
  position: absolute;
}
.group3-1{
  border-bottom: 1px solid #ff6900;
  padding: 20px 0 0 0;
}
.content{
  font-family: Cabin;
  font-size: 1vw;
  color: #000000;
}
.org{
  color: #ff6900;
}
.title{
  font-family: Cabin;
  font-size: 2vw;
  font-weight: bold;
  color: #000000;
}
.price{
  width: 40px;
  height: 40px;
  background-color: #ff6900;
  border-radius: 20px;
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
.time{
  border-radius: 5px;
  background-color: rgba(255, 105, 0, 0.16);
  font-family: Cabin;
  font-size: 14px;
  color: #464646;
  margin: 10px 0 20px 0;
  overflow: hidden;
  padding: 5px;
  text-align: center;
}
.bold{
  font-weight: bold;
  width: 100%;
  padding: 0 0 1% 0;
}
.center{
  width: 100%;
  padding: 0 0 1% 0;
}
.image label:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.group2-img{
  width: 100%;
}
.allnop{
  margin: 10px;
}
.number{
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}
.sub{
  width: 100%;
  opacity: 0.8;
  background-color: #cbcbcb;
  color: #000000;
  border-radius: 5px 0 0 5px;
  padding: 0 15px;
  text-align: center;
}
.plus{
  background-color: #000000;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  transform: translate(-100%,0);
}
.date{
  border: 1px solid #ff6900;
  width: 100%;
}
.month{
  height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  padding: 7px 15px;
  width: 90%;
  transform: translate(9%,0);
  margin: 20px 0;
}
.next{
  border-radius: 50%;
  background-color: #00379c;
  color: #ffffff;
  width: 100%;
  padding: 1%;
  transform: translate(100%,-25%);
}
.prev{
  border-radius: 50%;
  background-color: #00379c;
  color: #ffffff;
  width: 100%;
  padding: 1%;
  transform: translate(-100%,-25%);
}
.content2{
  font-family: Cabin;
  font-size: 1vw;
  color: #000000;
  transform: translate(10%,-10%);
}
.date-day{
  width: 100%;
} 
.day-last{
  width: 100%;
  padding: 8px;
  margin: 10px 0 20px 0;
  text-align: center;
}
.btn{
  width: 50%;
  height: auto;
  border-radius: 0.5vw;
  background-color: #ff6900;
  font-family: Cabin;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  margin: 2vw 0 2vw 31vw;
}
.container-group4{
  color: #ffffff;
  width: 98%;
  margin: 0 0 0 11px;
}
.group4-bg{
  background-color: #000000;
}
.big-content4{
  font-family: YesevaOne;
  font-size: 2vw;
  margin-top: 4vw;
}
.small-content4{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 1vw;
  margin:1.5vw 0;
}
.small-content4-2{
  color: #cfcfcf;
  font-family: Cabin;
  font-size: 1vw;
  margin:1.5vw 0 -1vw 0;
}
.container-group4 input{
  width: 100%;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #000000;
  padding: 5px;
  font-size: 10px;
  margin-top: 1.5vw;
  color: #ffffff;
}
.btn4{
  width: 100%;
  border-radius: 3px;
  background-color: #ff6900;
  margin: 1.5vw 0 3vw 0;
  border:1px solid #000000;
  color: #ffffff;
  text-align: center;
  font-size: 2vw;
}
